In [141]:
!pip install chromedriver

Requirement already satisfied: chromedriver in c:\users\tingjennings\anaconda3\lib\site-packages (2.24.1)

In [142]:
# Dependencies
import os
from splinter import Browser
from bs4 import BeautifulSoup 
import requests
import pandas as pd
from splinter.exceptions import ElementDoesNotExist
from webdriver_manager.chrome import ChromeDriverManager

In [143]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\TingJennings\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [144]:
# Visit Nasa news url through splinter module
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [145]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')
# Iterate through all pages
for x in range(50):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')

In [146]:
# Get the latest News Title and Paragraph Text
news_title = soup.find('li', class_='slide').find('div', class_='content_title').text
news_p = soup.find('li', class_='slide').find('div', class_='article_teaser_body').text
print(news_title)
print(news_p)

NASA's Curiosity Rover Captures Shining Clouds on Mars
The science team is studying the clouds, which arrived earlier and formed higher than expected, to learn more about the Red Planet.

In [147]:
# Visit Mars Space Images through splinter module
main_url = 'https://spaceimages-mars.com/'
browser.visit(main_url)

In [148]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [149]:
image_html = browser.html
soup = BeautifulSoup(image_html, 'html.parser')

In [150]:
# Retrieve featured background image url
featured_image_url = soup.find('img', class_='fancybox-image')['src']
featured_image_url = main_url + featured_image_url

In [151]:
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [152]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about Mars
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
mars_df = tables[0]

In [153]:
# Rename the columns and set Parameter as index
mars_df.columns = ['Parameter', 'Description']
mars_df.set_index('Parameter', inplace = True)
mars_df

                                        Description
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [154]:
# Convert the data to a HTML table string
html_table = mars_df.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n    </tr>\n    <tr>\n      <th>Parameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Visit hemispheres website through splinter module 
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [ ]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
items = soup.find_all('div', class_='item')

In [ ]:
hemisphere_img_urls = []
for item in items:
    title = item.find('h3').text
    hemisphere_url = 'https://astrogeology.usgs.gov' + item.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemisphere_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hemisphere_img_url = 'https://astrogeology.usgs.gov' + soup.find('img', class_='wide-image')['src']
    hemisphere_img_urls.append({'title': title, 'img_url': hemisphere_img_url})
hemisphere_img_urls